
/*FIXED MENU*/
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: #515151;
    background-color: var(--navcolor);
    z-index: 500;
    transition: background ease-out 0.2s;
    box-shadow:  2px 2px 4px #51515162;
}

#header .navbar-collapse{
    width: auto;
    background-color: var(--navcolor);
}

#header .nav-link{
    
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    color: #515151;
    border-bottom: solid 2px transparent;
    text-align: right;
}

#header .nav-link:hover {
    border-bottom: solid 2px var(--secondary);
    color: var(--secondary);
}
/*FIXED MENU*/
body, html{

    margin: 0;
    padding: 0;
    background-color: var(--colorback);
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    color: var(--primary);
    
}

.introduction{
    justify-content: center;
    margin: 8% 2% 5% 2%;
    background-color: var(--colorback);
}

.services{
    display: flex;
    justify-content: center;
    background-color: var(--navcolor);
}

.card{
    margin: 3% 3% 3% 0;
}

.carousel{
    text-align: center;
    background-color: var(--secondary-light);


}

.title{
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight:700;
    font-size: 45px;
    margin-bottom: 60px;
}

.carosel-partners{
    padding-bottom: 10px;



}
.footer{
    margin: 0;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: space-between;
    background-color: var(--footercolor);
    color:var(--navcolor)
}


.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7% 30% 3% 30%;
    background-color: var(--navcolor);
    border-radius: 0% 20px 0% 20px;
    box-shadow:  2px 2px 4px #51515162;
    width: 500px;
    height: auto;
}

.logo{
    padding: 10% 30% 10% 30% ;
    
}
.forms{
    margin: 10%;
}
.button{
    margin: 10%;
}

