
/*FIXED MENU*/
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: #515151;
    background-color: var(--navcolor);
    z-index: 500;
    transition: background ease-out 0.2s;
    box-shadow:  2px 2px 4px #51515162;
}

#header .navbar-collapse{
    width: auto;
    background-color: var(--navcolor);
}

#header .nav-link{
    
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    color: #515151;
    border-bottom: solid 2px transparent;
    text-align: right;
}

#header .nav-link:hover {
    border-bottom: solid 2px var(--secondary);
    color: var(--secondary);
}
/*FIXED MENU*/
body, html{

    margin: 0;
    padding: 0;
    background-color: var(--colorback);
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    color: var(--primary);
    
}

.introduction{
    justify-content: center;
    text-align: right;
    margin: 100px 2% 5% 2%;
    background-color: var(--colorback);
}
.introduction2{
    justify-content: center;
    text-align: left;
    margin: 100px 2% 10% 2%;
    background-color: var(--colorback);
}

.services{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.carousel{
    text-align: center;
    background-color: var(--secondary-light);
}

.title{
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight:700;
    font-size: 45px;
    margin-bottom: 60px;
}

.carosel-partners{
    padding-bottom: 50px;
}
.carousel-limit{
width: 85%;
height: auto;
margin:7%;
}

.footer{
    margin: 0;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: space-between;
    background-color: var(--footercolor);
    color:var(--navcolor) ;
}
.footer a h4{
    color:var(--colorback);
}
.footer a h4:hover{
    color:var(--secondary);
}
.logo-final{
    margin-bottom: 5%;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navcolor);
    border-radius: 0% 20px 0% 20px;
    box-shadow:  2px 2px 4px #51515162;

}

.logo{
    margin-top:50px;
    margin-bottom:50px;
    align-items: center;
    
}
.forms{
    margin: 5%;
}
.button{
    margin: 5% 0 30px;
}

