@font-face {
    font-family:'logofont';
    src: url('/fonts/ubuntu-title-fr-1.1.ttf') format('opentype'),url('/fonts/Ubuntu-Title.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}