/*response navbar*/
@media (min-width: 992px){
    #header .nav-link{
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media (min-width: 992px) { 
    #header .navbar-collapse {
        width: 100%;
        }   
    }
@media (max-width: 992px) { 
    #body {
        margin: 5% 2% 5% 2%;
    }
}
@media (max-width: 420px) {
    .sidebar li .tooltip{
      display: none;
    }
  }
/*response navbar*/
 /*response login*/
  @media (max-width: 1000px) {
    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:15% 10% 0 10%;
        width: auto;
    }
  }
  @media (max-width: 700px) {
    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:20% 10% 0 10%;
        width: auto;
    }
  }
  @media (max-width: 400px) {
    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:30% 0 0 0;
        width: auto;
    }
  }
  @media (min-width: 1000px) {
    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:15% 30% 0 30%;
        width: auto;
    }
  }
  @media (min-width: 1500px) {
    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:15% 35% 0 35%;
        width: auto;
    }
  }
/*response login*/

/*response carousel*/
@media (max-width: 600px) {
  .owl-carousel .owl-stage-outer{
    margin-left: 30px !important;
    margin-right: 30px !important;

  }
  .carousel-limit{
    width: 100%;
    margin: 0;
  }
}
/*response carousel*/

/*response text*/
@media (max-width: 765px) {
  .introduction{
    text-align: center;
  }
}
@media (max-width: 765px) {
  .introduction2{
    text-align: center;
  }
}
/*Correção text*/
